@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

.input-dark {
  @apply w-full px-4 py-3 rounded-xl
  bg-neutral-800 border border-neutral-700
  text-white placeholder-gray-400
  focus:outline-none focus:border-purple-500
  transition-all duration-300;
}

.input-dark::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.6;
}

.btn-outline {
  @apply px-3 py-1 rounded-lg border border-purple-500 text-purple-400
  hover:bg-purple-600 hover:text-white
  transition-all duration-300
  hover:shadow-[0_0_15px_rgba(168,85,247,0.5)]
  disabled:opacity-50;
}

.btn-primary {
  @apply py-3 rounded-xl bg-gradient-to-r from-purple-400 to-purple-900 text-white
  hover:bg-purple-200
  transition-all duration-300
  hover:shadow-[0_0_10px_rgba(168,85,247,0.6)]
  active:scale-95;
}
